
.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #491111;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #a74916;
    --color-2: #ACCFCB;
    --color-3: #8e2323;
  }
  
  .title-word-3 {
    --color-1: #983b43;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  @keyframes color-animation {
    20%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    40%   {color: var(--color-3)}
    90%  {color: var(--color-1)}
  }
  
   .container {
    display: block;
    place-items: center;  
    text-align: center;
    height: 50vh;
  }
  
  .title {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300 ;
    font-size: 5vw;
    padding: 30px;
    border-radius: 15px;
    margin: 120px auto auto auto;
  }